<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>

    <title>
        ATS
    </title>
</head>

<body>

    <nav class="navbar ">
        <div class="container">
            <a class="navbar-brand">ATS</a>
            <button class="btn btn-outline-dark" type="submit">logout</button>
        </div>
    </nav>

    <div class="container item-center">
        <div class="row" style="margin: 10px;">
            <div class="col-md">
                <form action="POST" id="ats_form" enctype="multipart/form-data" class="item-center">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">UID</label>
                        <input type="text" name="uuid" required id="uuid" placeholder="xx-xxxx-xxxx-xxx" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Job Description</label>
                        <textarea name="jd" id="jd" cols="30" required class="form-control" placeholder="Job Description" rows="10"></textarea>
                    </div>
                    
                    
                    <div class="mb-3">
                        <label for="fileInput">Choose a PDF or DOCX file:</label><br>
                        <input type="file" class="form-control" id="file" name="file" required accept=".pdf,.docx"><br>
                    </div>
        
                    <div class="btn-group" style="width: 100%; justify-content: center; align-items: center;">
                        <button class="btn btn-outline-success" id="submit" style="width: 80%;" type="submit">Check</button>
                        <button type="reset" class="btn btn-outline-danger" style="width: 20%;">Reset</button>
                    </div>
        
                </form>
        
                <br><br>
            </div>
            <div class="col-md">
                <p><small><u>Output : </u></small></p>
                <p><b id="rating">...</b></p>
                <label for="">Feedback : </label>
                <textarea name="" disabled id="feedback" cols="50" rows="10" placeholder="Feedback" class="form-control"></textarea>
                <br>
                <label for="">Tips: </label>
                <p id="tips">
                    The tips goes Here...
                </p>
            </div>
        </div>
    </div>
    <div class="container p-2" id="desc">
..

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>

        var form = document.getElementById("ats_form");
        form.addEventListener("submit", (e)=>{
            e.preventDefault();
            var btn = document.getElementById("submit");
            btn.innerHTML = `<i class="fas fa-spinner fa-spin"></i>`;
            btn.disable = true
            var formData = new FormData(document.getElementById("ats_form"))
            console.log(formData)

            var xhr = new XMLHttpRequest();

            xhr.open('POST', '{% url "ats_ev" %}', true);

            document.getElementById("desc").innerHTML = ``;
            document.getElementById("tips").innerHTML = "loading ...";
            document.getElementById("rating").innerText = `⏱️....`;
            document.getElementById("feedback").innerText = "waiting for the feedback ...";


            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    console.log(xhr.responseText);
                    var responce = JSON.parse(xhr.responseText);
                    
                    document.getElementById("tips").innerHTML = `${responce.tips}`;
                    document.getElementById("rating").innerText = `Rating : ${responce.score} /10.`;
                    document.getElementById("feedback").innerText = responce.myfeedback;
                    
                    document.getElementById("desc").innerHTML = `<h3>Description : ${responce.error==='null'?responce.error:''} </h3><br/><p>${responce.description}</p>`;
                    


                    btn.innerHTML = `Check`;

                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                }
            };

            xhr.onerror = function () {
                console.error('Request failed');
            };

            xhr.send(formData);

        })


    </script>
</body>

</html>