{% extends 'base.html' %}



{% block main %}



<div class="container">
    
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="color:var(--c1); text-decoration: none;"href="{% url 'index' %}"> <i class="fas fa-home"></i></a></li>
  
        <li class="breadcrumb-item active"><a style="color:var(--c2); text-decoration: none;" href="">Bot's</a></li>
      </ol>
    </nav>
  </div>

<div class="container item-center">
  {% if records %}
    <table id="records" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">uid</th>
            <th scope="col">Name</th>
            <th scope="col">Requests</th>
            <td scope="col">getcode</td>
            <td scope="col">Created</td>
          </tr>
        </thead>
        <tbody>
          {% for i in records %}
          <tr>
            <th scope="row">EB{{i.uid}}</th>
            <td>{{i.name}}</td>
            <td>{{i.messages.count}}</td>
            <td><a href="{% url 'source_code' i.uid %}">view all</a></td>
            <td>{{i.created}}</td>

        </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h2>No records Found</h2>
      {% endif %}
</div>




{% endblock %}