{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>KRCT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <script src="{% static 'js/util.js' %}"></script>


  <form method="post">
    {% csrf_token %}
    <input type="text" name="uid" id="uid">
    <input type="text" name="prompt" id="prompt">
    <input type="submit" value="Submit">
  </form>

  <a href="{% url 'college_form'  %}">College Form</a>


  <button class="btn-pop-message" onclick="toggleMessage()"><span><i class="fas fa-close"></i></span></button>
  <br>
  <a href="{% url 'generate_social_media_content' %}" >SMCG -</a>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>uuid</td>
      </tr>
    </thead>
    <tbody>
      {% for i in college %}
      <tr>
        <td>{{i.name}}</td>
        <td><a href="{% url 'source_code' i.uid %}" >{{i.uid}}</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/service.js' %}"></script>

</body>

</html>