{% extends "base.html" %}

{% load static %}

{% block title %}
    EdBud
{% endblock %}

{% block style %}
    <style>
        .item-center {
            border: .5px dashed var(--c2);
            border-radius: 5px;
            padding: 1em;
            background-color: white;
        }
    </style>
{% endblock %}



{% block main %}

<div class="container">
    
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="color:var(--c1); text-decoration: none;"href="{% url 'index' %}"> <i class="fas fa-home"></i></a></li>
    
          <li class="breadcrumb-item active"><a style="color:var(--c3); text-decoration: none;"href="">Create EdBud</a></li>
          
        </ol>
      </nav>
</div>

    <div class="container item-center">
        <form method="post" enctype="multipart/form-data" class="centered-form">
            {% csrf_token %}
            {{ form }}
            <input class="sub-btn" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
