{% extends 'base.html' %} {% block nav %}

<a
    href=""
    id="nav"
    class="navbar-brand"
    style="width: 100%; text-align: center"
>
    Profes Pro plan for <small>CP{{record.id}}</small>
</a>

{% endblock %} {% block main %}


<style>
    h2 {
        color: var(--c2);
        margin-bottom: 20px;
    }
    strong {
        font-size: 18px;
        text-decoration: underline;
        font-weight: 500;
        letter-spacing: 1px;
        color: green;
    }
    p {
        font-size: 18px;
    }
    @media print {
        body * {
            visibility: hidden;
        }
        #output,
        #output *,
        #nav {
            visibility: visible;
        }
        #output {
            position: absolute;
            left: 0;
            top: 10;
        }
        .credit {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }
</style>

<div class="container">
    <nav
        style="
            --bs-breadcrumb-divider: url(
                &#34;data:image/svg + xml,
                %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
        "
        aria-label="breadcrumb"
    >
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a
                    style="color: var(--c1); text-decoration: none"
                    href="{% url 'index' %}"
                >
                    <i class="fas fa-home"></i
                ></a>
            </li>
            <li class="breadcrumb-item">
                <a
                    style="color: var(--c1); text-decoration: none"
                    href="{% url 'cp' %}"
                >
                    Profes Pro</a
                >
            </li>
            <li class="breadcrumb-item">
                <a
                    style="color: var(--c2); text-decoration: none"
                    href="{% url 'cp_history' %}"
                    >Records</a
                >
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                CP{{record.id}}
            </li>
        </ol>
    </nav>
</div>
<br />
<div id="output" class="container item-center">
    
</div>

<div class="container">
    <button class="btn sub-btn" onclick="printDiv('output')">
        Save to PDF
    </button>
</div>

<script>
    function generateCoursePlanHTML(courseplan) {
        let html = "<div class='plan'>";
        for (const week in courseplan) {
            if (courseplan.hasOwnProperty(week)) {
                const details = courseplan[week];
    
                html += `<h3>${week}</h3>`;
                html += `<ul>`;
                html += `<li><strong>Topic</strong>: ${details.Topic}</li>`;
                html += `<li><strong>Periods</strong>: ${details.Periods}</li>`;
                html += `<li><strong>Hints</strong>: ${details.Hints}</li>`;
                html += `<li><strong>Learning Resources</strong>:`;
                html += `<ul>`;
                for (const resource in details["Learning Resources"]) {
                    if (
                        details["Learning Resources"].hasOwnProperty(resource)
                    ) {
                        html += `<li><a target="_blank" href="${details["Learning Resources"][resource]}">${resource}</a></li>`;
                    }
                }
                html += `</ul>`;
                html += `</li>`;
                html += `</ul>`;
                html += `</div>`;
            }
        }
        html += `<div id="credit">  </div>`;

        return html;
    }

    // Output container
    function load_DOM(data) {
        const outputContainer = document.getElementById("output");
        outputContainer.innerHTML = generateCoursePlanHTML(data.courseplan);
    }
    window.onload = () => {
        load_DOM(JSON.parse('{{record.output|escapejs}}'));
    };

    function printDiv(divId) {
        document.getElementById("credit").innerHTML =
            "&copy; Generated by <a href='{% url 'cg' %}' >Neuraa  [Path Pilot]</a> at {{record.created}}";
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
{% endblock %}
