# Ignore compiled Python files
*.pyc
venv/
*venv
env/
*.env
.env
local_settings.py
test.py
test2.py
test.pdf
test.html
.test.docx
template.py
tests/
db.sqlite3
sqlite.db
.vscode/
.idea/
.token
.html
html/
staticfiles/
static/
**/migrations/
db/
media/

secret_key.txt

*.log
*.pem

test.py
eb.yaml
config.yaml
config.yml
