# Ignore compiled Python files
*.pyc

env/
*.env
.env
local_settings.py
test.py
test2.py
test.pdf
test.html
.test.docx
template.py
tests/
db.sqlite3
sqlite.db
.vscode/
.idea/

staticfiles/
static/
**/migrations/
db/
media/

secret_key.txt

*.log

test.py
eb.yaml
