{% extends 'auth_base.html' %} 
{% block main %}

<style>
    h3{
        color: var(--c2);
    }
    .item-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    i,a{
        text-align: center;
        color: var(--c3);
    }
    
    a{
        text-decoration: none;
        text-align: center;
    }
    .item-center .fa-person-booth{
        font-size: 300px;
    }
    
</style>

<div class="container item-center">
    {% if messages %}
    s
    {% endif %}
    <i class="fa fa-person-booth"></i>
    <br>
    <h3>Ready for Change !!</h3>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <a href="{% url 'my_profile' %}"> <i class="fa fa-arrow-left"></i> Go back</a>
        <button type="submit" class="btn sub-btn">Change <i class="fas fa-walking"></i></button>
    </form>
    
</div>
{% endblock %}
