{% extends 'auth_base.html' %}
{% block main %}

<style>
    h3,
    h2 {
        color: var(--c2);
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    i,
    a {
        text-align: center;

        color: var(--c3);
    }

    .fa-cogs,
    .fa-mailchimp {
        font-size: 250px;
    }

    a {
        text-decoration: none;
        text-align: center;

    }
</style>

<div class="container box item-center">
    <i class="fas fa-cogs"></i>
    <h2>Set a new Password!!</h2>
    <br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn sub-btn">Reset Password</button>
    </form>
</div>

{% endblock %}