{% extends 'auth_base.html' %}
{% block main %}

<style>
    h3,
    h2 {
        color: var(--c2);
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    i,
    a {
        text-align: center;

        color: var(--c3);
    }

    .fa-check,
    .fa-mailchimp {
        font-size: 250px;
    }

    a {
        text-decoration: none;
        text-align: center;

    }
</style>

<div class="container box item-center">
    <i class="fas fa-check"></i>
    <h2>Password Reset Email Sent</h2>
<br><br>
        <ul>
            <li>We've sent you an email with instructions on how to reset your password.</li>
            <li>Please check your inbox and follow the steps provided in the email.</li>
                <li>If you don't receive an email within a few minutes, please check your spam folder.</li>
        </ul>
    </div>

{% endblock %}