{% extends 'auth_base.html' %} 
{% block main %}

<style>
    h3,h2{
        color: var(--c2);
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    i,a{
        text-align: center;
        
        color: var(--c3);
    }
    .fa-flickr,.fa-mailchimp{
        font-size: 250px;    
    }
    a{
        text-decoration: none;
        text-align: center;

    }
</style>

<div class="container box item-center">
    <h2>Password Reset</h2>
    <i class="fab fa-mailchimp"></i>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="">
                <a href="{% url 'login' %}" class="fp"><i class="fas fa-arrow-left"></i> back to login</a>
            </label>
        </div>
        <button type="submit" class="btn sub-btn">Reset Password <i class="fas fa-yin-yang"></i></button>
    </form>
</div>
{% endblock %}
