{% extends 'auth_base.html' %}
{% block main %}

<style>
    h3,
    h2 {
        color: var(--c2);
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    i,
    a {
        text-align: center;

        color: var(--c3);
    }

    .fa-check,
    .fa-mailchimp {
        font-size: 250px;
    }

    a {
        text-decoration: none;
        text-align: center;

    }
</style>

<div class="container box item-center">
    <i class="fas fa-check"></i>
    <h2>Password Successfully Changed !!</h2>
<br><br>
    <a class="btn sub-btn" href="{% url 'login' %}">Login <i class="fas fa-plane-arrival"></i></a>
        
    </div>

{% endblock %}