<style>
    .form-control{
        outline: none !important;
        border: none;
    }
    .form-control:required{
        border-color: red;
    }
    .form-control:focus{
        outline: none !important;
        border: none !important;

    }
</style>
<form 
    hx-post="{% url 'create_ach' rb.id %}" 
    hx-swap="innerHTML"
    hx-on::after-request="this.reset()"

    hx-target="#ach-list">
    
    <div class="row" style="background-color: whitesmoke; border-radius: 6px;">
    

        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="title" required id="title" placeholder="">
                    <label for="org">Title</label>
                  </div>
                  
            </div>
            
        </div>


        
        <div class="row">
            <div class="col-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="place" id="place" required placeholder="">
                    <label for="place">Place</label>
                  </div>
            </div>
            
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="yog" id="yog" required placeholder="">
                    <label for="yog">Date</label>
                  </div>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea cols="30" style="height: 100px;" class="form-control" name="desc" id="desc" required ></textarea>
                        <label for="desc">Description</label>
                      </div>
                
            </div>
        </div>

    </div>

    <div class="btn-group w-100">
        <button type="submit" class="btn btn-success w-75" >Add&nbsp;&nbsp;<i class="far fa-save text-light"></i></button>
        <button type="reset" class="btn btn-danger w-25">RESET</button>
    </div>

</form>