{% if rb.get_edu %}

<style>
  
</style>

<style>
</style>
<table class="table table-bordered" id="edu-tab">
    <thead>
      <tr>
        <th scope="col">School</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
        {% for i in rb.get_edu %}
      <tr>
        <th scope="row">{{i.school}}</th>
        <td><button hx-post="{% url 'delete_edu' rb.id i.id %}" 
            hx-target="#edu-list"
            hx-swap="innerHTML" class="btn btn-flat-danger"><i class="far fa-trash-alt text-danger "></i></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}