
<form
    hx-post="{% url 'create_soc' rb.id %}" 
    hx-swap="innerHTML"
    hx-target="#soc-list"
    hx-on::after-request="this.reset()"
>

    <div class="row">
        <div class="col-6">
            {{social_form.name}}
        </div>
        <div class="col-6">
            {{social_form.url}}
        </div>
    </div>

    <div class="btn-group w-100">
        <button type="submit" class="btn btn-success w-75" >Add&nbsp;&nbsp;<i class="far fa-save text-light"></i></button>
        <button type="reset" class="btn btn-danger w-25">RESET</button>
    </div>

</form>