{% extends "base.html" %} 
{% load static %}
{% block title %} Path Pilot {% endblock %} 



{% block main %}
<style>
    .item-center {
        border: 0.5px dashed var(--c2);
        border-radius: 5px;
        padding: 1em;
        background-color: white;
    }
    .output-container {
        background-color: whitesmoke;
    }
    .roadmap-container {
        border: 1px dotted rgba(128, 128, 128, 0.351);
        padding: 5px;
    }
    h6 a {
        color: var(--c3);
    }
    h3 {
        color: var(--c2);
        border-bottom: 1px dotted var(--c2);
        font-family: var(--fnt);
        letter-spacing: 1px;
        text-align: center;
    }
    .year-container p strong {
        color: green;
        text-decoration: underline;
    }
</style>

<div class="container">
    
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="color:var(--c1); text-decoration: none;"href="{% url 'index' %}"> <i class="fas fa-home"></i></a></li>
    
          <li class="breadcrumb-item active"><a style="color:var(--c3); text-decoration: none;"href="{% url 'cg' %}"> <img src="{% static 'defaults/icon/cg.png' %}" width="30" style="transform: scale(1.1);"  alt=""> Path Pilot</a></li>
          
        </ol>
      </nav>
</div>

<div class="container item-center">
    <div class="row" style="padding: 10px">
        <a href="{% url 'linked_in' %}" class="btn sub-btn"> Career Maping <i class="fas fa-street-view"></i> </a>
        <br>
    </div>
    <br><br><br>
    {% if ct %}
    <div class="row">
        <h3>History <i class="fas fa-history"></i></h3>
        <div class="accordion w-100 accordion-flush" id="accordionExample">
            {% for i in ct %}            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{i.id}}" aria-expanded="false" aria-controls="collapseOne{{i.id}}">
                  PP-{{i.id}} &ensp; <strong>@{{i.goal}}</strong>&ensp; on {{i.created}}
                </button>
              </h2>
              <div id="collapseOne{{i.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    
                    <div id="output{{i.id}}">
                        {% autoescape off %}
                            {{ i.output }}
                        {% endautoescape %}
                        <div id="credit"></div>
                        <br>
                    </div>
                    <button class="btn btn-outline-success" onclick="printDiv(`output{{i.id}}`)" >Save to PDF</button>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
    {% else %}
    <h3>No Record Found. Click The above button for Map Feneration.</h3>
    {% endif %}

</div>

<script>
    function printDiv(divId) {
        console.log(divId);
        document.getElementById("credit").innerHTML = "&copy; Generated by <a href='{% url 'cg' %}' >Neuraa  [Path Pilot]</a> at "
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        location.reload();
     }
</script>


{% endblock %}