{% extends 'base.html' %}

{% block nav %}

<a href="" id="nav" class="navbar-brand" style="width: 100%; text-align: center;">
Path Pilot Map for <small>CG{{record.id}}</small>
</a>

{% endblock %}

{% block main %}

<style>
    h2{
        color: var(--c2);
        margin-bottom: 20px;
    }
    strong{
        font-size: 22px;
        text-decoration: underline;
        font-weight: 900;
        letter-spacing: 1px;
        color: green;
    }
    p{
        font-size: 18px;
    }
    @media print {
        body * {
            visibility: hidden;
        }
        #output, #output *,#nav{
            visibility: visible;
        }
        #output {
            position: absolute;
            left: 0;
            top: 10;
        }
        .credit{
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
        
    }
</style>

<div class="container">
    
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a style="color:var(--c1); text-decoration: none;"href="{% url 'index' %}"> <i class="fas fa-home"></i></a></li>
      <li class="breadcrumb-item"><a style="color:var(--c1); text-decoration: none;"href="{% url 'cg' %}"> Path Pilot</a></li>
      <li class="breadcrumb-item "><a style="color:var(--c2); text-decoration: none;" href="{% url 'cg_history' %}">Records</a></li>
      <li class="breadcrumb-item active" aria-current="page">CG{{record.id}}</li>
    </ol>
  </nav>
</div>
<br>
<div id="output" class="container item-center">
    <div id="map"></div>
    <div id="course"></div>
    <div id="profile"></div>
    <div id="credit"></div>
</div>

<div class="container">
    <button class="btn sub-btn" onclick="printDiv('output')">Save to PDF</button>
</div>

<script>
    function displayContent() {
        var apiResponse = JSON.parse('{{record.output|escapejs}}')
        const outputContainer = document.getElementById("map");
        
        // Display career guidance roadmap
        const roadmapContainer = document.createElement("div");
        roadmapContainer.classList.add("roadmap-container");
        roadmapContainer.innerHTML = "<h2>Career Guidance Roadmap</h2>";

        apiResponse.careerGuidanceRoadmap.steps.forEach((step, index) => {
            const year = `Year ${index + 1}`;
            const stepContent = step[Object.keys(step)[0]];

            const yearContainer = document.createElement("div");
            yearContainer.classList.add("year-container");
            yearContainer.innerHTML = `
                <h5>${year}</h5>
                <p><strong>Focus:</strong> ${stepContent.focus}</p>
                <ul>
                    ${stepContent.actionItems
                        .map((item) => `<li>${item}</li>`)
                        .join("")}
                </ul>
                <hr />
            
                `;

            roadmapContainer.appendChild(yearContainer);
        });

        outputContainer.appendChild(roadmapContainer);

        // Display courses
        const cContainer = document.getElementById("course");

        const coursesContainer = document.createElement("div");
        coursesContainer.classList.add("courses-container");
        coursesContainer.innerHTML = "<h3><strong>Courses</strong></h3>";

        apiResponse.courses.forEach((course) => {
            const courseElement = document.createElement("div");
            courseElement.classList.add("course");
            courseElement.innerHTML = `
            <br/>
                <h6><a href="${course.link}" target="_blank">${course.title}</a></h6>
                <p>Platform: ${course.platform}</p>
            `;

            coursesContainer.appendChild(courseElement);
        });

        cContainer.appendChild(coursesContainer);

        // Display profiles
        const pContainer = document.getElementById("profile");

        const profilesContainer = document.createElement("div");
        profilesContainer.classList.add("profiles-container");
        profilesContainer.innerHTML = "<h3><strong>Linkedin Profiles</strong></h3>";

        apiResponse.profiles.forEach((profile) => {
            const profileElement = document.createElement("div");
            profileElement.classList.add("profile");
            profileElement.innerHTML = `
            <br/>
                <h6><a href="${profile.profileLink}" target="_blank">${profile.name}</a></h6>
                <p>Specialization: ${profile.specialization}</p>
                

            `;

            profilesContainer.appendChild(profileElement);
        });

        pContainer.appendChild(profilesContainer);
    }

    window.onload = () => {
        displayContent();
    }

    function printDiv(divId) {
        document.getElementById("credit").innerHTML = "&copy; Generated by <a href='{% url 'cg' %}' >Neuraa  [Path Pilot]</a> at {{record.created}}"
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
{% endblock %}
