<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>
        Social Media Content Generator
    </title>
</head>

<body>

    <nav class="navbar ">
        <div class="container">
            <a class="navbar-brand">Social Media Content Generator</a>
            <button class="btn btn-outline-dark" type="submit">logout</button>
        </div>
    </nav>

    <div class="container item-center">
        <div class="row" style="margin: 10px;">
            <div class="col-md">
                <form action="POST" class="">


                    <div class="form-group">
                        <label for="">Platform</label>
                        <select name="platform" id="" class="form-control">
                            {% for i in platform %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
        
                    
                    <div class="form-group">
                        <label for="">Post Type</label>
                        <select name="post_type" id="" class="form-control">
                            {% for i in types %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Goal</label>
                        <select name="goal" id="goal" class="form-control" onchange="getTopic()">
                            {% for i in goals %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="topic">Topic</label>
                        <select name="" id="topic" class="form-control">
                            <option value="None" default>Select Goal</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" name="" id="" placeholder="Discription" class="form-control">
                    </div>
        
                    <div class="btn-group" style="width: 100%; justify-content: center; align-items: center;">
                        <button class="btn btn-outline-success" style="width: 80%;" type="submit">Submit</button>
                        <button type="reset" class="btn btn-outline-danger" style="width: 20%;">Reset</button>
                    </div>
        
                </form>
        
                <br><br>
            </div>
            <div class="col-md">
                <p>Output:</p>
                    <textarea name="" id="" cols="30" rows="10" placeholder="The output Text comes Here..." class="form-control"></textarea>
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>

        function getTopic(){
            var goal = document.getElementById("goal");
            var topic = document.getElementById("topic");

            fetch("{% url 'about_post' %}",
            {
                method:"GET",
                headers: {
                      'Content-Type': 'application/json',
                    },
            }).then(
                responce => responce.json()
            ).then(data => {
                const topics = data[goal.value];
                topic.innerHTML = ""
                topics.forEach(i => {
                    topic.innerHTML += `<option value="${i}">${i}</option>`
                });

            }).catch(err => alert(err));

        }

    </script>

</body>

</html>